@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffff0;
  /* #fffff0 */
  --foreground: #171717;
}

.selected {
  scale: 1 !important;
}

.slide {
  scale: 0.8;
}

.dot {
  background-color: rgb(133, 133, 133) !important;
  box-shadow: none !important;
}

.control-dots .selected {
  background-color: rgb(0, 0, 0) !important;
}

.control-dots {
  /* display: sticky !important; */
  /* background-color: #171717 !important; */
  bottom: 0px;
  height: 30px;
  margin: 0 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
    --foreground: #202020;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
